@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

body {
	background-color: hsl(217, 54%, 11%);
}

.nft-card {
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Outfit', sans-serif;
	color: hsl(215, 51%, 70%);
	background-color: hsl(216, 50%, 16%);
	width: fit-content;
	margin: 1em auto;
	border-radius: 15px;
	padding: 25px;
	padding-bottom: .7em;
	width: 350px;
}

.nft-card p {
	margin: 0;
	padding: 0;
}

.nft-card-head a {
	font-size: 1.2em;
	font-weight: 500;
	margin: 25px 0;
	color: rgb(255, 255, 255);
}

.nft-card a {
	text-decoration: none;
}

.nft-card a:hover  {
	color: hsl(178, 100%, 50%);
}

.nft-card-price {
	color: hsl(178, 100%, 50%);
	font-weight: 500;
}

.nft-card > div {
	margin: 25px 0;
}

.nft-card-middle {
	display: flex;
	justify-content: space-between;
}

.nft-card-inline-icon {
	position: relative;
	margin: 0 5px 0 0;
	top: 2px;
}

.nft-card-image {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.nft-card-divider {
	width: 100%;
}

.nft-card-avatar {
	position: relative;
	top: -.4em;
	width: 2em;
	margin-right: .5em;
	float: left;
	border: 2px solid white;
	border-radius: 100%;
}

.nft-card-time {
	height: 1em;
}

.nft-card-footer a {
	color: white;
}